

*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  overflow: hidden;
}

li,a{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-decoration: none;
}


header{
  display: flex;
  text-align: left;
  padding: 10px 10%;
}

.nav_links{
  background-color: rgba(0,0,0,0);
  list-style: none;
  position: fixed;
  top: 10%;
  left: 2%;
  font-size: 100;
}

.nav_links li{
  /*display: inline-block;*/
  padding: 15px 0px;
}

.nav_links li a{
  transition: all 0.8s ease 0s;
}

.nav_links li a:hover{
  color: cyan;
  transition: all 0.8s ease 0s;

}


.menu_button{
  outline: none;
  padding: 20px 20px;
  height: 20px;
  width: 20px;
  background-color: black;
  /* border-style: solid; */
  border-width: small;
  border-color: white;
  cursor: pointer;
  position: fixed;
  top: 4%;
  left: 2%;
  transition: all 0.8s ease 0s;

}

.menu_button:hover{
background-color:cyan;
transition: all 0.8s ease 0s;
