html{
  background-color: black;
  /* padding: 50px; */
}


/* img{
  border: 5px solid white;
  /* text-align:center; */




.allImages{
  display:flex;
  justify-content: center;
  /* display:inline-block; */
  /* border: 1px solid white; */
  margin-left:auto;
  margin-right:auto;
  /* border: 2px blue solid; */
  /* align-content: center; */


}

.leftCol{
  height:200px;
  width:356px;
}

.rightCol {
  width:100px;
  /* padding-top:15px;
  padding-bottom:15px;*/
  padding-left:20px;

}

.topRight{
  height:100px;
  padding-bottom: 10px;
}

.bttmRight{
  height:100px;
}

.smallImages{
  border: 1px solid white;
  height:90px;
  width:90px;
  filter: grayscale(100%);

}


.sameer{
  filter: grayscale(100%);
  width:500px;
  display:flex;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


.emailButton{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  outline: none;
  margin-top: 20px;
  padding: 15px;
  background-color: black;
  border-width: small;
  border-color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left:0px;
  margin-right:50px;
  justify-content: center;

}

.emailButton:hover{
  background-color: white;
  color: black;
  transition: all 0.8s ease 0s;
}

.artistText{
  text-align: left;
  width: 500px;
  justify-content: center;
  padding-left: 40px;
  margin-bottom: 20%;
  margin-left:auto;
  margin-right:auto;
}


h1{
  text-align: center;
  font-size: 80px;
  padding:none;
  margin-bottom: 0px;
}

.resourcesUsed{
  margin-bottom:none;
}


.resourceText{
  display:flex;
  width:600px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  height: 300px;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 40%;
  margin-top: 10px;
  border: solid white 1px;


}


.srcLeftCol{
  /* margin-top:30px; */
  width:500px;
  height:200px;
}

.srcRightCol{
  margin-left: 40px;
  width:300px;
  height:200px;
}

.exLine{
  margin-bottom: 0px;
}

.srcLi{
  margin-left: 20px;
  margin-bottom: 0px;
  padding:0px;
}

.right01{

}

.right02{

}

.right03{

}







body{
  margin-top: none;
  margin-bottom: none;

  margin-right: auto;
  margin-left: auto;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  /* margin-left: 20px;
    margin-right: 20px; */
    max-width: 1000px;
}


ul{
  padding:0px;
  margin-left: 0px;
  margin-top: 0px;
  list-style-type: none;
}



ol{
  padding:0px;
  margin-left: 0px;
  margin-top: 0px;
}




li{
  padding-top: 0px;
  padding-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


.music{
  font-size: 25px;
  padding: 0px;
  margin-top: auto;
  margin-bottom: 0px;

}


.textBlock{
  padding: 5px;
  /* margin-top: 30px ;
  margin-bottom: 30px ; */
}



a{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: underline;
  /* text-underline-position: under; */
}

a:hover {
  color: cyan;
  transition: all 0.8s ease 0s;
}


.gif{
  height: 200px;
  border: 1px solid white;
}


/* .images{
  object-fit: contain;
  height: 100px;
  padding: auto;
  text-align: center;

} */

.images2{

}


.smallImages:hover{
  /* border-color: cyan; */
  filter: grayscale(0%);
  transition: all 0.4s ease 0s;
}

.sameer:hover{
  filter: grayscale(0%);
  transition: all 0.5s ease 0s;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: cyan;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



.exhibitBlock{
  padding: 30px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 40%;
  vertical-align: center;
}


/* .exhibit{
  margin-top: 40%;
} */



.nav_links {
  background-color: rgba(0, 0, 0, 0);
  list-style: none;
  position: fixed;
  top: 10%;
  left: 2%;
}

.nav_links li {
  padding: 15px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.nav_links li :hover {
  color: cyan;
  transition: all 0.8s ease 0s;
}

.nav_links a {
  color: white;
  text-decoration: none;
}

.menu_button {
  outline: none;
  padding: 20px 20px;
  background-color: black;
  border-width: small;
  border-color: white;
  cursor: pointer;
  position: fixed;
  top: 4%;
  left: 2%;
  transition: all 0.8s ease 0s;
}

.menu_button:hover {
  background-color: cyan;
  transition: all 0.8s ease 0s;
}


.rex1{
  text-align: left;
  margin-bottom: 30px;
}

ol{
  margin-left: 30px;
}



.row {
  display: flex;
  /* flex-wrap: wrap; */
  /* text-align: middle; */
  flex-flow: column wrap;
}

.column {
  flex: 100%;
  /* padding: 0 4px; */
  /* vertical-align:middle; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 99%;
  border-color:white;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}





.icon-bar {
  position: fixed;
  top: 4%;
  right: 2%;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
  background: white;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: cyan;
  transition: all 0.8s ease 0s;
}

.linkedin {
  background: cyan;
  color: white;
}

.instagram {
  background: cyan;
  color: white;
}

.soundcloud {
  background: cyan;
  color: white;
}
