html{
  background-color: black;
  /* padding: 50px; */
}


img{
  border: 5px solid white;
  /* text-align:center; */
}

.sameer{
  margin-left:auto;
  margin-right:auto;
  /* text-align: center; */
  height:600px;
}


h1{
  text-align: center;
  font-size: 80px;
  padding:none;
}

.resourcesUsed{
  margin-bottom:none;
}

body{
  margin-top: none;
  margin-bottom: none;

  margin-right: auto;
  margin-left: auto;
  width: 50%;
  font-family: 'Montserrat';
  font-size: 20px;
  color: white;
  text-decoration: none;
  /* margin-left: 20px;
    margin-right: 20px; */
    max-width: 1000px;
}


ul{
  list-style-type: circle;
}


/* li{
  padding: 10px;
} */


.oneLine{
  padding: 0px;
  margin-top: auto;
  margin-bottom: 0px;
  list-style: none;

}


.textBlock{
  padding: 5px;
  /* margin-top: 30px ;
  margin-bottom: 30px ; */
}



a{
  font-family: 'Montserrat';
  font-size: 20px;
  color: white;
  overflow: scroll;
white-space: nowrap;
  /* text-decoration: underline; */
  text-underline-position: under;
}

a:hover {
  color: cyan;
  transition: all 0.8s ease 0s;
}


.gif{
  height: 200px;
}


.images{
  overflow: scroll;
  height: 80px;
  padding: auto;
  text-align: center;

}

.images2{

}

.images:hover{
  border-color: cyan;
  transition: all 0.8s ease 0s;
}

.exhibit1{
  padding: 30px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 40%;
  vertical-align: center;
}


/* .exhibit{
  margin-top: 40%;
} */



.nav_links {
  background-color: rgba(0, 0, 0, 0);
  list-style: none;
  position: fixed;
  top: 10%;
  left: 2%;
}

.nav_links li {
  padding: 15px 0px;
  font-family: 'Montserrat';
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.nav_links li :hover {
  color: cyan;
  transition: all 0.8s ease 0s;
}

.nav_links a {
  color: white;
  text-decoration: none;
}

.menu_button {
  outline: none;
  padding: 20px 20px;
  background-color: black;
  border-width: small;
  border-color: white;
  cursor: pointer;
  position: fixed;
  top: 4%;
  left: 2%;
  transition: all 0.8s ease 0s;
}

.menu_button:hover {
  background-color: cyan;
  transition: all 0.8s ease 0s;
}

.resources{
  /* line-height: normal; */
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  /* text-align: auto; */
  /* list-style-position: inside; */
}


.row {
  display: flex;
  /* flex-wrap: wrap; */
  /* text-align: middle; */
  flex-flow: column wrap;



}

.column {
  flex: 100%;
  /* padding: 0 4px; */
  /* vertical-align:middle; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-color:white;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  color: white;
  text-align: center;
}




.icon-bar {
  position: fixed;
  top: 4%;
  right: 2%;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
  background: white;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: cyan;
}

.linkedin {
  background: cyan;
  color: white;
}

.instagram {
  background: cyan;
  color: white;
}

.soundcloud {
  background: cyan;
  color: white;
}
