body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: white;
  background: url("./files/driftBackground.jpg") no-repeat;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  background-color: black;
}

.logo {
  padding: .5em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

nav ul {
  display: grid;
  list-style-type: none;
  margin: 0px;
  grid-template-columns: repeat(4, 1fr);
}

nav ul li {
  padding: 1.3em;
  justify-self: end;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

.burger {
  display: none;
  padding: 0.5em;
}

.burger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin: .5em;
}

/* changing width between link items based on screen size */
@media (max-width:550px) {
  nav {
    grid-template-columns: 1fr 1fr;
    height: 69px;
  }

  nav ul {
    grid-column: 1/3;
    display: block;
    padding-inline-start: 0px;
  }

  ul li {
    text-align: center;
    margin-left: 0px;
    opacity: 0;
  }

  nav ul li a {
    font-size: 25px;
  }

  .burger {
    grid-row: 1/2;
    grid-column: 2/3;
    display: block;
    justify-self: end;

  }

  .logo {
    padding: 1em;
    font-size: 22px;
  }

  .burger span {
    transform-origin: top left;
  }

  .burger span:nth-child(3) {
    transform-origin: bottom left;
  }
}

/* when the screen gets small (mobile) */
@media (min-width:550px) {
  ul li {
    opacity: 1 !important;
  }
}
